<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.reiam.share.mapper.PostLikesMapper">

    <resultMap id="likesPostResponseResultMap" type="online.reiam.share.response.LikesPostResponse">
        <result property="postId" column="post_id"/>
        <association property="postResponse" column="post_id"
                     select="online.reiam.share.mapper.PostMapper.selectPostById">
        </association>
    </resultMap>

    <select id="selectLikesPostListByUserId" resultMap="likesPostResponseResultMap">
        SELECT post_id
        FROM post_likes
        WHERE deleted = 0
          AND likes = 1
          AND user_id = #{userId}
        ORDER BY modified_time DESC
    </select>

    <resultMap id="postLikesResponseResultMap" type="online.reiam.share.response.PostLikesResponse">
        <result property="userId" column="user_id"/>
        <association property="userInfoResponse" column="user_id"
                     select="online.reiam.share.mapper.UserInfoMapper.selectUserInfoByUserId">
        </association>
    </resultMap>

    <select id="selectPostLikesListByPostId" resultMap="postLikesResponseResultMap">
        SELECT user_info.user_id
        FROM post_likes,
             user_info
        WHERE post_likes.deleted = 0
          AND user_info.deleted = 0
          AND post_likes.likes = 1
          AND post_likes.user_id = user_info.user_id
          AND post_likes.post_id = #{postId}
        ORDER BY post_likes.modified_time DESC
    </select>

</mapper>
