<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hslzk.share.mapper.TopicMapper">

    <resultMap id="topicResponseResultMap" type="com.hslzk.share.response.TopicResponse">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="followNum" column="follow_num"/>
        <result property="postNum" column="post_num"/>
    </resultMap>

    <select id="selectTopicListByUserId" resultMap="topicResponseResultMap">
        SELECT topic.id, topic.name, topic.follow_num, topic.post_num
        FROM topic,
             topic_follow
        WHERE topic.deleted = 0
          AND topic_follow.deleted = 0
          AND topic_follow.follow = 1
          AND topic.id = topic_follow.topic_id
          AND user_id = #{userId}
        ORDER BY topic.modified_time DESC
    </select>

</mapper>
